@model AnaOkuluVeKres.Areas.Parents.Models.ParentEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ParentLayout.cshtml";
}

<h1>Profil Düzenleme Sayfası</h1>
<br />
<form method="post" enctype="multipart/form-data">
    <h4>Adınız</h4>
    <input type="text" asp-for="name" class="form-control" />
    <br />
    <h4>Soyadınız</h4>
    <input type="text" asp-for="surname" class="form-control" />
    <br />
    <h4>Mail Adresiniz</h4>
    <input type="email" asp-for="mail" class="form-control" />
    <br />
    <h4>Şifreniz</h4>
    <input type="text" asp-for="password" class="form-control" />
    <br />
    <h4>Şifre Tekrar</h4>
    <input type="text" asp-for="confirmpassword" class="form-control" />
    <br />
    <h4>Telefon Numaranız</h4>
    <input type="text" asp-for="phonenumber" class="form-control" />
    <br />
    <div class="form-group">
        <h4>Resim Seçin</h4>
        <input type="file" asp-for="image" />
    </div>
<button class="btn btn-primary">Bilgileri Güncelle</button>
</form>
