@model List<Testimonial>
<div class="w3l-blog-block-5 py-5" id="blog">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <p class="text-uppercase">Düşünürlerİn</p>
            <h3 class="title-style">Çocuk Gelişimi <span>Hakkında</span> Düşünceleri</h3>
        </div>
        <div class="row justify-content-center">
            @foreach (var item in Model.Take(3))
            {
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                    <div class="blog-card-single">
                        <div class="grids5-info">
                            <a href="#"><img src="@item.TestimonialImageUrl" alt="" /></a>
                            <div class="blog-info">
                                <h4><a href="#">@item.TestimonialNameSurname</a></h4>
                                <p>
                                    @item.TestimonialDescription
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
