<section class="w3l-service-1 py-5">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <p class="text-uppercase">NEDEN BİZİ SEÇMELİSİNİZ?</p>
            <h3 class="title-style">Öğretmenler ve Öğrenciler</h3>
        </div>
        <div class="row content23-col-2 text-center">
            <div class="col-md-6">
                <div class="content23-grid content23-grid1">
                    <h4><a href="/Teacher/Index/">Uzman Öğretmenler</a></h4>
                </div>
            </div>
            <div class="col-md-6 mt-md-0 mt-4">
                <div class="content23-grid content23-grid2">
                    <h4><a href="/About/Index/">Güvenli Çevre</a></h4>
                </div>
            </div>
        </div>
    </div>
</section>
