@model Contact


<div class="col-md-7 contact-right">
    <form action="@Url.Action("Index", "Contact")" method="post" class="signin-form">
        <div class="input-grids">
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" name="ContactName" id="w3lName" placeholder="Adınız"
                           class="contact-input" required="" />
                </div>
                <div class="col-sm-6">
                    <input type="email" name="ContactMail" id="w3lSender" placeholder="E-posta Adresiniz"
                           class="contact-input" required="" />
                </div>
            </div>
            <input type="text" name="ContactDescription" id="w3lSubect" placeholder="Başlık"
                   class="contact-input" required="" />
            <input type="tel" name="ContactPhone" id="w3lPhone" placeholder="Telefon"
                   class="contact-input" required="" />
        </div>
        <div class="form-input">
            <textarea name="ContactDetails" id="w3lMessage" placeholder="Mesajınızı buraya yazınız"
                      required=""></textarea>
        </div>
        <div class="text-start">
            <button type="submit" class="btn btn-style btn-style-3">Mesaj gönder</button>
        </div>
    </form>
</div>
