<footer class="w3l-footer-29-main">
    <div class="footer-29 pt-5 pb-4">
        <div class="container pt-md-4">
            <div class="row footer-top-29">
                @await Component.InvokeAsync("ContactInfo")
                <div class="col-lg-2 col-md-3 col-6 footer-list-29 mt-md-0 mt-4">
                    <ul>
                        <h6 class="footer-title-29">Faydalı Linkler</h6>
                        <li><a href="/Default/Index/">Ana Sayfa</a></li>
                        <li><a href="/About/Index/">Hakkımızda</a></li>
                        <li><a href="/Teacher/Index/">Eğitmenlerimiz</a></li>
                        <li><a href="/Contact/Index/">İletişim</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-3 col-6 ps-lg-5 ps-lg-4 footer-list-29 mt-md-0 mt-4">
                    <ul>
                        <h6 class="footer-title-29">Sistem</h6>
                        <li><a href="/Login/SignIn/">Veli Giriş Ekranı</a></li>
                        <li><a href="/TeacherLogin/Login/">Öğretmen Giriş Ekranı</a></li>
                        <li><a href="/Login/SignUp/">Veli Kayıt Ekranı</a></li>
                        <li><a href="/Contact/Index/">Bizimle Çalışmak İstermisiniz</a></li>
                    </ul>
                </div>
                @await Component.InvokeAsync("_FooterAbout")
            </div>
            <p class="copy-footer-29 text-center pt-lg-2 mt-5 pb-2">
                @DateTime.Now.Year | FEKreş Ana Okulu Ve Kreş Tüm Hakları Saklıdır
            </p>
            <!-- //copyright -->
        </div>
    </div>
</footer>
