@model Contact3
@{
    ViewData["Title"] = "ReplyMessage";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<h1 class="display-4">Mesaj Gönder</h1>
<hr />
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
    <hr />
}
@using (Html.BeginForm("ReplyMessage", "ParentMessages", FormMethod.Post))
{
    <div class="form-group">
        <label class="h5">Cevap Yazın</label>
        @Html.DropDownListFor(model => model.Contact2ReplyReciver, (IEnumerable<SelectListItem>)ViewData["Parents"], "Veliyi Seçin", new { @class = "form-control" })
    </div>
    <br />
    <div class="form-group">
        <label class="h5">Mesajın Başlığı</label>
        @Html.TextBoxFor(model => model.Contact2ReplyTitle, new { @class = "form-control" })
    </div>
    <br />
    <div class="form-group">
        <label class="h5">Mesajın İçeriği</label>
        @Html.TextAreaFor(model => model.Contact2ReplyBody, new { @class = "form-control", @rows = 4 })
    </div>
    <br />
    <input type="submit" value="Gönder" class="btn btn-outline-primary" />
}