<div class="col-lg-4 col-md-6 footer-list-29">
    <h6 class="footer-title-29">İletişim Bilgilerimiz </h6>
    <p class="mb-2 pe-xl-5">
        Adresimiz : @ViewBag.v1
    </p>
    <p class="mb-2">Telefon Numaramız : <a href="tel:@ViewBag.v2">@ViewBag.v2</a></p>
    <p class="mb-2">Emailimiz : <a href="mailto:@ViewBag.v3">@ViewBag.v3</a></p>
</div>
