<div class="col-md-6 col-lg-4 order-1 mb-4">
    <div class="card h-100">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="card-title m-0 me-2">Hızlı Linkler</h5>
        </div>
        <div class="card-body px-0">
            <div class="tab-content p-0">
                <div class="tab-pane fade show active" id="navs-tabs-line-card-income" role="tabpanel">
                    <div class="d-flex p-4 pt-3">
                        <div class="avatar flex-shrink-0 me-3">
                            <img src="~/sneat-1.0.0/assets/img/icons/unicons/wallet.png" alt="User" />
                        </div>
                        <div>
                            <small class="text-muted d-block">Ana Sayfaya</small>
                            <a href="/Default/Index/">
                                <div class="d-flex align-items-center">
                                    <h6 class="mb-0 me-1">GİT</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex p-4 pt-3">
                        <div class="avatar flex-shrink-0 me-3">
                            <img src="~/sneat-1.0.0/assets/img/icons/unicons/wallet.png" alt="User" />
                        </div>
                        <div>
                            <small class="text-muted d-block">Hakkımızda Sayfasına</small>
                            <a href="/About/Index/">
                                <div class="d-flex align-items-center">
                                    <h6 class="mb-0 me-1">GİT</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex p-4 pt-3">
                        <div class="avatar flex-shrink-0 me-3">
                            <img src="~/sneat-1.0.0/assets/img/icons/unicons/wallet.png" alt="User" />
                        </div>
                        <div>
                            <small class="text-muted d-block">Eğitmenlerimiz Sayfasına</small>
                            <a href="/Teacher/Index/">
                                <div class="d-flex align-items-center">
                                    <h6 class="mb-0 me-1">GİT</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex p-4 pt-3">
                        <div class="avatar flex-shrink-0 me-3">
                            <img src="~/sneat-1.0.0/assets/img/icons/unicons/wallet.png" alt="User" />
                        </div>
                        <div>
                            <small class="text-muted d-block">Veli Sayfasına</small>
                            <a href="/Admin/ParentAdmin/Index/">
                                <div class="d-flex align-items-center">
                                    <h6 class="mb-0 me-1">GİT</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex p-4 pt-3">
                        <div class="avatar flex-shrink-0 me-3">
                            <img src="~/sneat-1.0.0/assets/img/icons/unicons/wallet.png" alt="User" />
                        </div>
                        <div>
                            <small class="text-muted d-block">Onay Bekleyen Öğrenciler Sayfasına</small>
                            <a href="/Admin/StudentAdmin/Index/">
                                <div class="d-flex align-items-center">
                                    <h6 class="mb-0 me-1">GİT</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex p-4 pt-3">
                        <div class="avatar flex-shrink-0 me-3">
                            <img src="~/sneat-1.0.0/assets/img/icons/unicons/wallet.png" alt="User" />
                        </div>
                        <div>
                            <small class="text-muted d-block">Onaylanan Öğrenciler Sayfasına</small>
                            <a href="/Admin/StudentAdmin/ApprovalStudentList/">
                                <div class="d-flex align-items-center">
                                    <h6 class="mb-0 me-1">GİT</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex p-4 pt-3">
                        <div class="avatar flex-shrink-0 me-3">
                            <img src="~/sneat-1.0.0/assets/img/icons/unicons/wallet.png" alt="User" />
                        </div>
                        <div>
                            <small class="text-muted d-block">Dashboard</small>
                            <a href="#">
                                <div class="d-flex align-items-center">
                                    <h6 class="mb-0 me-1">🡹</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
