<li class="menu-item">
    <a href="javascript:void(0)" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bxs-message-alt-detail"></i>
        <div data-i18n="Extended UI">Gelen Mesajlar <span style="display: inline-block; width: 20px; height: 20px; background-color: red; color: white; text-align: center; border-radius: 50%;">@ViewBag.MessageCount2</span></div>
    </a>
    <ul class="menu-sub">
        <li class="menu-item">
            <a href="/Parents/ContactTeacher/Index" class="menu-link">
                <div data-i18n="Perfect Scrollbar">
                    <span style="display: inline-block; width: 20px; height: 20px; background-color: red; color: white; text-align: center; border-radius: 50%;">@ViewBag.MessageCount</span> Öğretmenden Gelen Mesajlar
                </div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/Parents/ContactAdmin/Index" class="menu-link">
                <div data-i18n="Text Divider"><span style="display: inline-block; width: 20px; height: 20px; background-color: red; color: white; text-align: center; border-radius: 50%;">@ViewBag.MessageCount1</span> Yöneticiden Gelen Mesajlar</div>
            </a>
        </li>
    </ul>
</li>
