@model List<Classes>
<li class="menu-item">
    <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-layout"></i>
        <div data-i18n="Layouts">Sınıflar</div>
    </a>
    <ul class="menu-sub">
        <li class="menu-item">
            <a href="/Admin/Classes/NewClasses/" class="menu-link">
                <div data-i18n="Without menu">Sınıf Ekle</div>
            </a>
        </li>
        @foreach (var item in Model)
        {
            <li class="menu-item">
                <a href="/Admin/Classes/ClassesList/@item.ClassesId" class="menu-link">
                    <div data-i18n="Without navbar">@item.ClassesName</div>
                </a>
            </li>
        }
    </ul>
</li>
