@model List<EntityLayer.Concrete.StudentClasses>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sayac = 0;
}

<h1>Sınıf Listesi</h1>
<br />
@if (!Model.Any())
{
    <h4>Sınıf Bulunmamaktadır.</h4>
}
else
{
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Sınıf İsmi</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                @{
                    sayac++;
                }
                <th>@sayac</th>
                <td>@item.ClassesName</td>
            </tr>
        }
    </table>
}
<a href="/Admin/Classes/NewClasses" class="btn btn-outline-primary">Sınıf Ekle</a>
