@model List<Teacher>
@{
    ViewData["Title"] = "TeacherList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h1>Öğretmen Listesi</h1>
<hr />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Adı Soyadı</th>
        <th>Kullanıcı Adı</th>
        <th>Tc</th>
        <th>Rol Ata</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.TeacherNameSurname</td>
            <td>@item.TeacherUserName</td>
            <td>@item.TeacherTC</td>
            <td><a href="/Admin/Role/AssignRoles/@item.TeacherId" class="btn btn-warning">Rol Ata</a></td>
        </tr>
    }
</table>
<hr />
<a href="/Admin/Role/TeacherAssignRolesList/" class="btn btn-outline-info">Rol Listesine Git</a>
