@model List<AppUser>
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Kullanıcı Listesi</h1>
<hr />
<table class="table table-bordered">
    <tr>
        <th>Kullanıcı Adı</th>
        <th>Rol Ata</th>
        <th>Kullanıcı Rolünü Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
            <tr>
                <td>@item.UserName</td>
                <td><a href="/Admin/Role/AssignRoles/@item.Id" class="btn btn-warning">Rol Ata</a></td>
                <td><a href="/Admin/Role/AssignRole/@item.Id" class="btn btn-success">Rol Düzenle</a></td>
            </tr>
    }
</table>
<a href="/Admin/Role/UserAssignRolesList/" class="btn btn-outline-info">Rol Listesine Git</a>
