<li class="menu-item">
    <a href="javascript:void(0)" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-message-rounded-detail"></i>
        <div data-i18n="Extended UI">Gelen Mesajlar <span style="display: inline-block; width: 20px; height: 20px; background-color: red; color: white; text-align: center; border-radius: 50%;">@ViewBag.MessageCount3</span></div>
    </a>
    <ul class="menu-sub">
        <li class="menu-item">
            <a href="/Admin/AdminUı/Index" class="menu-link">
                <div data-i18n="Perfect Scrollbar"><span style="display: inline-block; width: 20px; height: 20px; background-color: red; color: white; text-align: center; border-radius: 50%;">@ViewBag.MessageCount2</span> Site Mesajları</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/Admin/MessageParent/Index" class="menu-link">
                <div data-i18n="Text Divider"><span style="display: inline-block; width: 20px; height: 20px; background-color: red; color: white; text-align: center; border-radius: 50%;">@ViewBag.MessageCount1</span> Veli Mesajları</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/Admin/MessageTeacher/Index" class="menu-link">
                <div data-i18n="Text Divider"><span style="display: inline-block; width: 20px; height: 20px; background-color: red; color: white; text-align: center; border-radius: 50%;">@ViewBag.MessageCount</span> Öğretmen Mesajlar</div>
            </a>
        </li>
    </ul>
</li>
