@model ForgetPasswordViewModel
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />
    <h1>Şifrenizi Mi Unuttunuz...?</h1>
    <hr />
    @if (!string.IsNullOrEmpty(TempData["Message"] as string))
    {
        <div class="alert alert-info" role="alert">
            @TempData["Message"]
        </div>
        <hr />
    }
    <form method="post">
        <h5>Mail Adresinizi Giriniz</h5>
        <input type="text" class="form-control" asp-for="Mail" />
        <br />
        <button class="btn btn-primary">Şifre Yenileme Linki Gönder</button>
    </form>
</div>

