@model ResetPasswordViewModel
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />
    <h1>Şifre Yenileme Sayfası</h1>
    <hr />

    <form method="post">
        <h5>Şifrenizi Giriniz</h5>
        <input type="text" class="form-control" asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
        <br />
        <h5>Şifrenizi Tekrar Giriniz</h5>
        <input type="text" class="form-control" asp-for="ConfirmPassword" />
        <span asp-validation-for="Password" class="text-danger"></span>
        <br />
        <button class="btn btn-success">Şifreyi Güncelle</button>
    </form>
    
</div>

