@model AnaOkuluVeKres.Models.LoginViewModel
@{
    ViewData["Title"] = "LoginTeacher";
    Layout = "~/Views/Shared/_UıLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/web2/css/style.css" rel='stylesheet' type='text/css' media="all">
</head>
<body>
    <div class="mid-class">
        <div class="art-right-w3ls">
            <h2>Öğretmen Giriş Sayfası</h2>
            <form method="post">
                <div class="main">
                    <div class="form-left-to-w3l">
                        <input type="text" asp-for="TeacherUserName" placeholder="Kullanıcı adı" required="">
                        <span asp-validation-for="TeacherUserName"></span>
                    </div>
                    <div class="form-left-to-w3l">
                        <input type="password" asp-for="TeacherTC" placeholder="TC Kimlik Numarası" required="">
                        <span asp-validation-for="TeacherTC"></span>
                    </div>
                </div>
                <div class="left-side-forget">
                    <input type="checkbox" class="checked">
                    <span class="remenber-me">Beni Hatırla</span>
                </div>
                <div class="right-side-forget">
                    <a href="#" class="for">Parolanızı Mı Unuttunuz...?</a>
                </div>
                <div class="clear"></div>
                <div class="btnn">
                    <button type="submit">Giriş Yap</button>
                </div>
            </form>
            <div class="w3layouts_more-buttn">
                <h3>
                    Hesabınız yok mu..?
                    <a href="/Contact/Index/">
                        Yönetici İle İletişime Geçin
                    </a>
                </h3>
            </div>
        </div>
    </div>
</body>
</html>
