<section class="w3l-about-2 pb-5 pt-4">
    <div class="container pb-md-5 pb-4">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 about-2-secs-right mb-lg-0 mb-4 text-center pe-lg-4">
                <img src="@ViewBag.v3" alt="" class="img-fluid radius-image m-auto" />
            </div>
            <div class="col-lg-6 about-2-secs-left ps-lg-5">
                <h3 class="title-style mb-sm-3 mb-2">@ViewBag.v1</h3>
                <p>
                    @ViewBag.v2
                </p>
                <div class="d-flex align-items-center mt-5">
                    <a class="btn btn-style btn-style-3" href="/Contact/Index/">Bize Ulaşın</a>
                </div>
            </div>
        </div>
    </div>
</section>

