@using EntityLayer.Concrete
@model List<AppUser>
<div class="w3l-grids-block-5 py-5">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <h3 class="title-style">Eğitmenlerimiz</h3>
        </div>
        <div class="row justify-content-center">
            @foreach(var item in Model)
            {
            <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                <div class="coursecard-single">
                    <div class="grids5-info position-relative">
                        <img src="~/UserImages/@item.ImageUrl" alt="" class="img-fluid" />
                        <div class="meta-list">
                            <a class="sec-2">@item.TeacherBranch</a>
                        </div>
                    </div>
                    <div class="content-main-top">
                        <div class="content-top mb-4 mt-3">
                            <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                <li> <i class="fas fa-star"></i> 4.3</li>
                            </ul>
                        </div>
                        <h4><a>@item.Name @item.Surname</a></h4>
                        <p>@item.TeacherBiography</p>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
